@font-face {
	font-family: NEXT ART_Bold;
	font-display: swap;
	src: url("../fonts/NEXT ART_Bold.woff2") format("woff2"), url("../fonts/NEXT ART_Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
