.block_header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &--subtitle {
        color: var(--color-text-mark);
        font-family: var(--font-family-main);
        font-size: var(--fz-l);
        line-height: 20px;
    }

    &--title {
        color: var(--color-text);
        font-family: var(--font-family-main);
        font-size: var(--fz-xl);
        font-weight: 800;
        line-height: 120%; /* 38.4px */
    }
    &-center {
        .block_header--subtitle {
            text-align: center;
        }

        .block_header--title {
            text-align: center;
        }
        @media (max-width: $media-sm) {
            .block_header--subtitle {
                text-align: left;
            }

            .block_header--title {
                text-align: left;
            }
        }
    }
}
