.header {
    position: absolute !important;
    top: 16px;
    left: 0;
    width: 100%;
    z-index: 10;
    &--container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    @media (max-width: $media-sm) {
        top: 20px;
    }
}
